@import url('./assets/font/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

:root{
    --tg-color: #22B7FF;
    --main-gradient: linear-gradient(to right, #1AC8FF , #D11AFF)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style: none;
    image-rendering: auto;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
html {
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:100vh;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 100rem;
    background-color: #fff;
    width: 100%;
    line-height: initial;
    cursor: url('./assets/images/cursor/default@2x.png') 0 0, auto;
}
a:hover{
    cursor: url('./assets/images/cursor/handpointing@2x.png') 0 0, auto;
}
button:hover{
    cursor: url('./assets/images/cursor/handpointing@2x.png') 0 0, auto;
}

h1, h2{
    font-family: 'Coolvetica';
    font-weight: 100;
    line-height: 1em;
}
h1{
    font-size: 4em;
}
h2{
    font-size: 5em;
}
h3{
    display: inline-block;
    font-weight: 400;
    padding: 5px 20px 5px 20px;
    font-size: 1.7em;
    width: auto;
}
.title-border{
    border: 1.8px solid #000;
    border-radius: 30px;
    margin-bottom: 0.3em;
}
.title-border-gradient{
    background: linear-gradient(#141414, #141414) padding-box,
    var(--main-gradient);
    background-size: 150%;
    background-position: 50%;
    border-radius: 10em;
    border: 2px solid transparent;
}
h4{
    font-weight: 550;
    font-size: 1.6em;
}
p{
    font-weight: 300;
    font-size: 1.3em;
    letter-spacing: 0.04em;
}
b{
    font-weight: 500;
}
.small-title{
    font-size: 0.8em;
}
.coolvetica{
    font-family: 'Coolvetica';
}
.tarif h3{
    font-size: 1.6em;
}
.strike{
    text-decoration: line-through;
}
.underline{
    text-decoration: underline;
}
.transparent{
    opacity: 0.3;
}
a{
    color: #000;
}

.gap2{
    row-gap: 2rem;
}
.gap3{
    row-gap: 3rem;
}
.gap5{
    row-gap: 5rem;
}

.tarif{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 2.5em;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 200;
    position: sticky;
}

nav{
    position:fixed;
    width: 80%;
    transform: translate(0, -8rem);
    margin: 0 auto;
    max-height: 89px;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    background-color: #fbfbfb;
    transition: 0.5s ease-in-out;
}
.show{
    transform: translate(0, 0);
    transition: 0.5s ease-in-out;
}

.btn-tg{
    background-color: var(--tg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    font-weight: bold;
    border-radius: 13px;
    min-width: 210px;
    max-width: 2em;
}
.btn-tg img{
    width: 25px;
    margin-right: 10px;
}
.btn-tg .info{
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.btn-inv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    font-weight: regular;
    border-radius: 13px;
    max-width: 210px;
    opacity: 0.5;
}

.buttons-align{
    display: flex;
    gap: 50px;
}

main{
    width: 100%;
}
section{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.fixed-size{
    height: 60rem;
}
.in-section{
    width: 90%;
    margin: 0 auto;
    min-height: 60rem;
    display: flex;
}
.in-section-right{
    width: 90%;
    margin: 0 auto;
    min-height: 60rem;
}
.section-left{
    display: flex;
    justify-content: flex-start;
    text-align: start;
}
.section-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
}
.section-center{
    display: flex;
    justify-content: center;
    align-items: center !important; 
    text-align: center;
    flex-direction: column;
}
.section-info{
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.button-section{
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.process{
    width: 35%;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process img{
    width: 100%;
    transform: rotate(-5deg);
}
.price-list{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
}
.price-list-element{
    width: 29rem;
    height: 42rem;
    border-radius: 3.4rem;
    padding: 2rem 3.1rem;
    text-align: start;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.price-list-element:nth-child(1){
    background-color: #fff;
    border: 1px solid #000;
}
.price-list-element:nth-child(2){
    background: linear-gradient(to bottom, 
    #141414    31%, 
    #1b1b1b  31%, 
    #1b1b1b  40%
);
}
.price-list-element:nth-child(2) .limitations,
.price-list-element:nth-child(2) li
{
    font-weight: 300;
}
.price-list-element:nth-child(2) .price,
.price-list-element:nth-child(2) .sale,
.price-list-element:nth-child(2) .limitations,
.price-list-element:nth-child(2) li,
.price-list-element:nth-child(2) ion-icon
{
    color: #fff !important;
}
.price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5.5em;
    column-gap: 0.2em;
}
.sale{
    opacity: 0.4;
    font-size: 0.4em;
    margin-top: 0.5em;
}
.limitations{
    margin-top: -0.5em;
    font-size: 1em;
    font-weight: 400;
}
.features{
    margin-top: 1em;
    font-size: 1.2em;
}
.features ul li{
    margin-bottom: 0.8em;
    display: flex;
    column-gap: 1.7em;
    font-weight: 400;
}
.description{
    font-size: 1em;
    opacity: 0.3;
    margin-bottom: 2em;
}
.space{
    width: 1.1em
}

.pochemu{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    transform: scale(1.06);
    transition: 0.2s ease-in-out;
}
.btn{
    transform: scale(1.0);
    transition: 0.2s ease-in-out;
}
.buy-btn{
    height: 4em;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    max-height: 6rem;
    margin-bottom: 0.5em;
    border-radius: 4em;
}
.buy-btn-gradient{
    height: 4em;
    background: linear-gradient(to right, #1B2022 , #211B22) padding-box,
    var(--main-gradient);
    background-size: 150%;
    background-position: 50%;
    border: 4px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    max-height: 6rem;
    margin-bottom: 0.5em;
    border-radius: 4em;
}

.center{
    display: flex;
    height: 100%;
    justify-content: center;
}

.gradient{
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-iphone{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.landing-iphone .iphone{
    height: 85%;
    width: auto;
}
.profit{
    position: absolute;
    width: 50%;
    bottom: 20%;
    left: 60%;
}
.bg-chart{
    position: absolute;
    height: 100%;
    right: -16%;
    bottom: -15%;
    z-index: -1;
}

.examples{
    width: 100%;
    height: auto;
}

ion-icon{
    vertical-align: middle;
}
.emoji{
    margin: 0em 0.15em 0em 0.15em;
    height: 1em;
    text-align: center;
    vertical-align: middle;
}

.scroll {
    display: none;
	width: 40px;
	height: 40px;
	border: 2px solid #333;
	border-radius: 50%;
    opacity: 0.5;
	position: relative;
	animation: down 1.5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
        bottom: 13px;
		width: 12px;
		height: 12px;
		border-left: 2px solid #333;
  	    border-bottom: 2px solid #333;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@media screen and (max-width: 1280px){
    .fixed-size{
        height: 100%;
    }
    .profit{
        display: none;
    }
    h1{
        font-size: 2.8em;
    }
    h2{
        font-size: 3.5em;
    }
    h3{
        font-size: 1.2em;
    }
    h4{
        font-size: 1.4em;
    }
    p{
        font-size: 1.1em;
    }
    .p1{
        display: none;
    }
    nav{
        justify-content: center;
        align-items: center;
    }
    .price-list{
        flex-direction: column-reverse;
        width: 90%;
        font-size: 0.8em;
        row-gap: 2rem;
    }
    .price-list-element{
        width: inherit;
        min-width: 22rem;
        max-width: 25rem;
        padding: 2rem 2rem;
        height: 35rem;
    }
    .proc{
        flex-direction: column-reverse !important;
    }
    nav .btn-tg{
        display: none;
    }
    .in-section{
        width: 100%;
        margin-top: 7rem;
        row-gap: 2rem;
        min-height: 40rem;
    }
    .scroll{
        display: flex;
    }
    .mizul{
        display: none;
    }
    .section-info{
        width: 100%;
        height: 100%;
    }
    .pochemu{
        min-width: 20rem;
        max-width: 30rem;
        margin-bottom: 2rem;
    }
    .buttons-align{
        display: none;
        align-items: center;
        justify-content: center;
    }
    .landing-iphone{
        width: auto;
        max-width: 20rem;
        justify-content: center;
        align-items: center;
    }
    .i1{
        display: none;
    }
    .in-section{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .section-left{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .process{
        min-width: 20rem;
        max-width: 59rem;
        margin-right: 0;
    }
    .process img{
        transform: rotate(0);
    }
    .gap5{
        row-gap: 2rem;
    }
}
@media screen and (min-width: 1281px){
    .t2{
        display: none;
    }
}